$green-darker: #2c3721;
$green-dark: #3C571A;
$green-medium-darker: #4C7713;
$green-medium-dark: #5B960B;
$green-medium: #6BB604;
$green-lime: #cddc39;

$blue-grey-dark: #303136;

$grey-darker: #31312a;
$grey-dark: #3e3e36;
$grey-medium-darker: #4c4c4c;
$grey-medium-dark: #9c9c8b;
$grey-medium: #a7a799;
$grey-medium-light: #b3b3a6;
$grey-medium-lighter: #c0c0c0;
$grey-sand: #ede7de; //a bit yellower
$grey-light: #eeeeeb;
$grey-lighter: #fafaf9;


$white: #fff;

$main-font-color: #212120;

$alert: #ac2925;
$alert-dark: #73341f;
$warning : #e78c05;
$success: #10f587;
$info : #73762f;
